<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.massmining.app"
        versionCode = "10"
        version     = "1.1.0">

    <name>MassMining</name>

    <description>
        Инвестиционная платформа massmining.pro
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#24FF00" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/02773f3226ad4e4daf5a4efa20fbb8a4.png" density="ldpi" />
        <icon src="res/android/icon/f42cd9a6b776e76cf05adde789c03180.png" density="mdpi" />
        <icon src="res/android/icon/aad43352b7a695886fa5d3628916b44e.png" density="hdpi" />
        <icon src="res/android/icon/9061dbb6de91b4a22520a509ac688c61.png" density="xhdpi" />
        <icon src="res/android/icon/ddac817176c78a44270cbc3292cd4fb0.png" density="xxhdpi" />
        <icon src="res/android/icon/333b2fbf765216328e38e1e0dfe6a9e7.png" density="xxxhdpi" />

        <splash src="res/android/screen/409787eb1d11a1dd908c1dc782831c8b.png" density="port-hdpi"/>
        <splash src="res/android/screen/9709ade6633142f4416f39b91e6b7d26.png" density="port-ldpi"/>
        <splash src="res/android/screen/5f4a49a2658a088391bb7658a14398e8.png" density="port-mdpi"/>
        <splash src="res/android/screen/dcd11c78d495d599f3d671d3b8b0bd6c.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/7fbf9b457750342e1aa2418d80e89884.png" width="180" height="180" />
        <icon src="res/ios/icon/58820eb019d4e0ad70c628a9432d03df.png" width="60" height="60" />
        <icon src="res/ios/icon/be999bcab8b7e5f91e7cc4a4a0a87864.png" width="120" height="120" />
        <icon src="res/ios/icon/2f6ee136ab317ddc1a1ae15e4c570e78.png" width="76" height="76" />
        <icon src="res/ios/icon/4f1973c613ac5906aa333a9029286335.png" width="152" height="152" />
        <icon src="res/ios/icon/01c677f826f17fd161b889ab75f2956c.png" width="57" height="57" />
        <icon src="res/ios/icon/03740ec04b2418a07628bd38feda9b4a.png" width="114" height="114" />
        <icon src="res/ios/icon/0465bd33b06baa5838343a7e12f93477.png" width="72" height="72" />
        <icon src="res/ios/icon/29bd9ca4a38367342a847760fc0cd453.png" width="144" height="144" />
        <icon src="res/ios/icon/1614d3c896515718e57062bc6ba8ecef.png" width="167" height="167" />
        <icon src="res/ios/icon/39eb9c88be9213efcb4f4b24a37acfe0.png" width="29" height="29" />
        <icon src="res/ios/icon/126c6bb7dbe9e2bb9c5d0dde03031333.png" width="58" height="58" />
        <icon src="res/ios/icon/62cc2fd0cda7288831b9c7fe44e7dcae.png" width="87" height="87" />
        <icon src="res/ios/icon/5fb26b89b8daeff988f04f6cb3dca271.png" width="167" height="167" />

        <splash src="res/ios/screen/b721b49b56bef4f8c960875331701ea2.png" />
        <splash src="res/ios/screen/12151f0d362625f96c4cfc330b66b151.png" />
        <splash src="res/ios/screen/523d04ac9ea3ea124421a273c5b57379.png" />
        <splash src="res/ios/screen/28addf58ea0a60be2499b2e73df1606d.png" />
        <splash src="res/ios/screen/197e88340e80e809bca52d32a191dabc.png" />
        <splash src="res/ios/screen/77d7c3161ac5247ded1a9f7848832d4a.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/dabffd1c19030ce795f907485f90b9b7.png" target="StoreLogo" />
        <icon src="res/windows/icon/35302367ce2d4d08f42795ad107ebeba.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/93105b852a2fa6d7b10c889282013408.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/cf2e961610549073b1813b4a69ddfdad.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/a8d3222a756f3bb7c1915a55d1f8f9a3.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/0f44f788900b0a5f76b8b9ce916d0de3.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/4267506bbb44f082d13ad0ceae49eedb.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/6659c6746df4f84989bea90af4e57353.png" target="SplashScreen"/>
        <splash src="res/windows/screen/d02e975c9d7dde60cb6ce571f9767c07.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>